<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Pedido Exitoso</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link rel="stylesheet" type="text/css" media="all"
	href="css/sicurezza.css" th:href="@{/css/sicurezza.css}" />
<link rel="stylesheet" type="text/css" media="all"
	href="css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />



</head>
<body>
	<img class="logo" src="http://www.dsicurezza.com.ar/img/logo.png"
		alt="sicurezza-logo"></img>
	<div class="container texto-izquierda">
			<h1>
				<span>Pedido realizado con exito.</span>
			</h1>
	</div>


</body>
</html>